.infinite-scroll-wrapper {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  cursor: grab;
}

.infinite-scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}

.infinite-scroll-wrapper:active {
  cursor: grabbing;
}

.infinite-scroll {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.infinite-scroll-item {
  flex: 0 0 auto;
}

@media (max-width: 640px) {
  .infinite-scroll-item {
    width: 75vw !important;
  }
}
