.infinite-scroll-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .infinite-scroll {
    display: flex;
    animation: scroll 30s linear infinite;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .infinite-scroll-item {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  /* Animation du défilement horizontal */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Effet sur survol */
  .infinite-scroll-wrapper:hover .infinite-scroll {
    animation-play-state: paused;
  }
  
  /* Media Queries - Ajuster pour les écrans mobiles */
  @media (max-width: 640px) {
    .infinite-scroll {
      animation: scroll 15s linear infinite; /* Animation plus rapide pour mobile */
    }
  
    .infinite-scroll-item {
      flex: 0 0 100%; /* Un seul flyer sur mobile */
      margin-right: 0; /* Pas d'espace entre les éléments sur mobile */
    }
  }
  